In [3]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1,2,3], index=['row1', 'row2', 'row3'])
s

row1    1
row2    2
row3    3
dtype: int64

In [5]:
s.row2

2

In [6]:
s[1]

2

In [7]:
s.values

array([1, 2, 3])

In [8]:
s.index

Index(['row1', 'row2', 'row3'], dtype='object')

In [9]:
s.value_counts()

1    1
2    1
3    1
dtype: int64

In [17]:
d = pd.DataFrame([[1,2], [3,4], [5,6], [7,8], [9,10]], index=["r1", "r2", "r3", "r4", "r5"], columns=["c1", "c2"])
d

    c1  c2
r1   1   2
r2   3   4
r3   5   6
r4   7   8
r5   9  10

In [18]:
d[0:3]

    c1  c2
r1   1   2
r2   3   4
r3   5   6

In [20]:
d['c1']

r1    1
r2    3
r3    5
r4    7
r5    9
Name: c1, dtype: int64

In [22]:
d[:4]

    c1  c2
r1   1   2
r2   3   4
r3   5   6
r4   7   8

In [24]:
d.iloc[2,1]

6

In [25]:
d.values

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])

In [26]:
d[d<5]

     c1   c2
r1  1.0  2.0
r2  3.0  4.0
r3  NaN  NaN
r4  NaN  NaN
r5  NaN  NaN

In [27]:
d.head(2)

    c1  c2
r1   1   2
r2   3   4

In [28]:
d.tail(2)

    c1  c2
r4   7   8
r5   9  10

In [29]:
d.index

Index(['r1', 'r2', 'r3', 'r4', 'r5'], dtype='object')

In [30]:
d.columns

Index(['c1', 'c2'], dtype='object')

In [31]:
d.T

    r1  r2  r3  r4  r5
c1   1   3   5   7   9
c2   2   4   6   8  10

In [32]:
d.drop('r3', axis=0)

    c1  c2
r1   1   2
r2   3   4
r4   7   8
r5   9  10

In [33]:
d.drop('c2', axis=1)

    c1
r1   1
r2   3
r3   5
r4   7
r5   9

In [34]:
d.describe()

             c1         c2
count  5.000000   5.000000
mean   5.000000   6.000000
std    3.162278   3.162278
min    1.000000   2.000000
25%    3.000000   4.000000
50%    5.000000   6.000000
75%    7.000000   8.000000
max    9.000000  10.000000

In [35]:
df = pd.DataFrame( { 'x1':[1,2],  'x2':[3,4] ,'x3':[5,6]  }  )
df

   x1  x2  x3
0   1   3   5
1   2   4   6

In [36]:
data = {'Name': ["Ali", "Sara", "Reza", "Taha"],
        'Location' : ["yazd", "Theran", "shiraz", "Hamedan"],
        'Age' : [35, 28, 55, 5]
       }

In [37]:
df = pd.DataFrame(data)
df

   Name Location  Age
0   Ali     yazd   35
1  Sara   Theran   28
2  Reza   shiraz   55
3  Taha  Hamedan    5

In [38]:
df.sort_index(axis=1)

   Age Location  Name
0   35     yazd   Ali
1   28   Theran  Sara
2   55   shiraz  Reza
3    5  Hamedan  Taha

In [39]:
df.sort_index(axis=0,ascending=False)

   Name Location  Age
3  Taha  Hamedan    5
2  Reza   shiraz   55
1  Sara   Theran   28
0   Ali     yazd   35

In [40]:
df.sort_values(by='Age',ascending=False)

   Name Location  Age
2  Reza   shiraz   55
0   Ali     yazd   35
1  Sara   Theran   28
3  Taha  Hamedan    5

In [41]:
df[df.Age < 30]

   Name Location  Age
1  Sara   Theran   28
3  Taha  Hamedan    5

In [42]:
df

   Name Location  Age
0   Ali     yazd   35
1  Sara   Theran   28
2  Reza   shiraz   55
3  Taha  Hamedan    5

In [43]:
df.iloc[2][1]

'shiraz'

In [44]:
df.iloc[1]['Age']

28

In [46]:
pd.DataFrame(np.random.randn(10,4))

          0         1         2         3
0  0.084454 -1.139835 -1.344531 -0.553042
1 -0.391726 -0.934592 -0.471456 -0.859296
2  0.558124 -1.287079  0.226872 -0.776449
3 -0.014056  1.572235 -0.513708 -0.894427
4 -0.820768  0.417423  2.122855 -0.850446
5  1.619716  0.881248  0.897621  0.122692
6 -0.268262 -0.053873 -0.978407 -0.197900
7 -0.754390 -1.183167 -0.390415 -0.704096
8  1.180319  0.035935 -1.604575 -0.345644
9  0.811206 -0.832374  0.318486  0.720995