In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.Series([1,2,3], index=['row1', 'row2', 'row3'])
s

row1    1
row2    2
row3    3
dtype: int64

In [ ]:
s.row2

2

In [ ]:
s[1]

2

In [ ]:
s.values

array([1, 2, 3])

In [ ]:
s.index

Index(['row1', 'row2', 'row3'], dtype='object')

In [ ]:
s.value_counts()

1    1
2    1
3    1
dtype: int64

In [ ]:
d = pd.DataFrame([[1,2], [3,4]], index=["r1", "r2"], columns=["c1", "c2"])
d

    c1  c2
r1   1   2
r2   3   4